@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800&display=swap&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=japanese');

h2 {
	font-family:'Courgette', cursive;
	margin: 0 0 10px 0;
	font-weight: 500;
	font-size: 40px;
	color: #000;
	line-height: 1.3;
	/*text-transform: uppercase;*/
}
h3 {
	font-size: 22px;
	font-weight: 500;
	color: #333;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 16px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #8eb640;
  cursor: pointer;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-family: 'Dancing Script', cursive;
	font-size: 36px;
	color: #2f94a9;
	/*color: #8eb640;*/
	font-weight: 700;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 0;
    border: 2px solid transparent;
    letter-spacing: 0.5px;
    margin: 10px 15px 0 15px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	/*color: #8eb640;*/
	color: #fcee21;
}
.on {
	background-color: #262626 !important;
	padding: 0 !important;
	padding: 10px 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fcee21 !important;
	/*color: #8eb640 !important;*/
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: rgba(227,240,240,0.8);
	border-color: #fff;
	/*background-color: #8eb640;
	border-color: #8eb640;*/
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	margin-bottom: 10px;
}
.section-title .overlay {
	padding: 30px 0 5px;
	/*padding: 80px 0;*/
	background: rgba(0, 0, 0, 0.5);
}
.section-title p {
	font-size: 16px;
	font-weight:500;
    color: rgba(255,255,2551,1);
    margin-top: 5px;
}
.section-title hr {
	margin: 0 auto;
	margin-bottom: 10px;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #2f94a9;
	/*background-color: #72a411;*/
	border: 0;
	padding: 20px 20px;
	/*padding: 14px 20px;*/
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 0;
	margin-top: 20px;
	transition: all 0.5s;
	position:relative;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #007996;
	/*background-color: #628d0f;*/
}
/* Header Section */
.intro {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 0;
	/*background:#2f94a9;*/
	/*background: url(../img/f4c3f41480300bd1409c5d3c39479b09_m.jpg) no-repeat center center;*/
	/*background-color: #e5e5e5;*/
	background-color: rgba(0,0,0,1);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.session_page .intro {
	background: url(/img/f4c3f41480300bd1409c5d3c39479b09_m.jpg) no-repeat center center;
}

.intro .overlay {
	background: rgba(0,0,0,0.4);
}

.index_page .intro .overlay {
	height:100%;
}

.intro h1 {
	font-family:'Courgette', cursive;
	color: #fff;
	font-size: 10em;
	font-weight: 700;
	margin-top: 60px;
	margin-bottom: 10px;
}
/*.intro span {
	color: #a7c44c;
	font-weight: 600;
}*/
.intro p {
	color: #fff;
	font-size: 32px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 40px;
}
header .intro-text {
	padding-top: 30px;
	padding-bottom: 0px;
	/*padding-top: 250px;
	padding-bottom: 200px;*/
	text-align: center;
	filter: drop-shadow(0px 0px 10px rgba(20, 20, 20, 0.8));
}
/* About Section */
#about {
    padding: 60px 0;
	/*background:url(../img/hata_opa.png) no-repeat;
	background-position: -70px 100px;
    background-size: 500px 500px;*/
	position:relative;
}
#about h3 {
	font-size: 20px;
}
#about .about-text {
	margin-left: 10px;
}
#about .about-img {
	position: relative;
}

@media screen and (min-width:630px) and (max-width: 991px) {
	#about .about-img {
		display: inline-block;
		position: relative;
	}
}

#about .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#about p {
	line-height: 26px;
	margin: 15px 0 30px;
}
/* Menu Section */
#restaurant-menu {
	padding: 0 0 30px 0;
	position:relative;
}
#restaurant-menu .section-title {
	background: #444 url(/img/f4c3f41480300bd1409c5d3c39479b09_m.jpg) center center no-repeat fixed;
	background-size: cover;
}
#restaurant-menu .section-title h2 {
	color: #fff;
	position:relative;
}
/*#restaurant-menu .section-title h2:after {
	content:url(../img/ao-kira.png);
	position:absolute;
	padding-left:10px;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
}*/
/*#restaurant-menu img {
	width: 300px;
	box-shadow: 15px 0 #a7c44c;
}*/
#restaurant-menu h3 {
	padding: 10px 0;
	text-transform: uppercase;
}
#restaurant-menu .menu-section hr {
	margin: 0 auto;
}
#restaurant-menu .menu-section {
	margin: 0 20px;
}
#restaurant-menu .menu-section-title {
	font-size: 26px;
	display: block;
	font-weight: 500;
	color: #444;
	margin: 20px 0;
	text-align: center;
}
#restaurant-menu .menu-item {
	margin: 35px 0;
	font-size: 18px;
}
#restaurant-menu .menu-item-name {
	font-weight: 600;
	font-size: 17px;
	color: #555;
	border-bottom: 2px dotted rgb(213, 213, 213);
}
#restaurant-menu .menu-item-description {
	/*font-style: italic;*/
	font-size: 15px;
	margin-top:5px;
}
#restaurant-menu .menu-item-price {
	float: right;
	font-weight: 600;
	color: #555;
	margin-top: -26px;
}
/* Portfolio Section */
#portfolio, #conduct {
  /*padding: 0 0 120px 0;*/
  padding: 0 0 60px 0;
  position:relative;
}
#portfolio .section-title, #conduct .section-title {
  background: #444 url(/img/f4c3f41480300bd1409c5d3c39479b09_m.jpg) center center no-repeat fixed;
  background-size: cover;
  margin-bottom: 10px;
}
#portfolio .section-title h2, #conduct .section-title h2 {
  color: #fff;
  position:relative;
}
/*#portfolio .section-title h2:after {
	content:url(../img/ao-kira.png);
	position:absolute;
	padding-left:10px;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
}*/
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin: 0 10px;
	padding: 20px 0;
}
ol.type li a {
	color: #999;
	font-weight: 500;
	font-size: 14px;
	padding: 12px 24px;
	background: #eee;
	border: 0;
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
ol.type li a.active {
	color: #fff;
	background-color: #2f94a9;
	/*background-color: #8eb640;*/
}
ol.type li a:hover {
	color: #fff;
	background-color: #2f94a9;
	/*background-color: #8eb640;*/
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
}
.portfolio-item .hover-bg {
	overflow: hidden;
	position: relative;
}
.portfolio-item .hover-bg:before {
	display: block;
	content: '';
	position: absolute;
	top: 6px;
	right: 6px;
	bottom: 6px;
	left: 6px;
	border: 1px solid rgba(255, 255, 255, 0.6);
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 17px;
	letter-spacing: 0.5px;
	font-weight: 500;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
/* Team Section */
#team {
	color: #fff;
	background: #444 url(/img/team-bg.jpg) center top no-repeat fixed;
	background-size: cover;
}
#team .overlay {
	padding: 120px 0 80px 0;
	background: rgba(0, 0, 0, 0.6);
}
#team h2, #team p {
	color: #fff;
}
#team hr {
	background: #fff;
}
#team h3 {
	color: #fff;
	font-weight: 400;
	font-size: 20px;
	margin: 5px 0;
}
#team img {
	width: 280px;
}
#team .thumbnail {
	background: transparent;
	border: 0;
}
#team .thumbnail .team-img {
	display: inline-block;
	position: relative;
}
#team .thumbnail .team-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
#team .thumbnail .caption {
	padding-top: 10px;
}
#team .thumbnail .caption p {
	color: rgba(255,255,255,0.7);
	padding: 0 10px;
	font-size: 15px;
}
/* Call Reservation Section */
#call-reservation {
	padding: 90px 0;
	color: #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8eb640+50,779936+100 */
	background: rgb(47,148,169);/*rgb(142,182,64);*/ /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,121,150,1) 50%, rgba(47,148,169,1) 100%);/*-moz-linear-gradient(top, rgba(142,182,64,1) 50%, rgba(119,153,54,1) 100%);*/ /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,121,150,1) 50%, rgba(47,148,169,1) 100%);/*-webkit-linear-gradient(top, rgba(142,182,64,1) 50%, rgba(119,153,54,1) 100%);*/ /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,121,150,1) 50%, rgba(47,148,169,1) 100%);/*linear-gradient(to bottom, rgba(142,182,64,1) 50%, rgba(119,153,54,1) 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007996', endColorstr='#2f94a9', GradientType=0 );
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb640', endColorstr='#779936', GradientType=0 );*/ /* IE6-9 */
}
#call-reservation .overlay {
	padding: 80px 0;
	background: #8eb640;
}
#call-reservation h2 {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 400;
	margin: 0;
}
#call-reservation hr {
	background: #fff;
}
#call-reservation h3 {
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	margin: 5px 0;
}
/* Contact Section と accessibility Section */
#contact , #accessibility , #eve {
  padding: 60px 0 60px 0;
  /*padding: 100px 0 60px 0;*/
  background:/*url(../img/title_kira.png) top center no-repeat,*/#F6F6F6;
  position:relative;
}
#contact .section-title p , #accessibility .section-title p , #eve .section-title p , #partner .section-title p {
  color: #777;
}
#contact h2 , #accessibility h2 , #eve h2 , #partner  h2 {
  color: #1e1c4d;
}
#contact h2 + p , #accessibility h2 + p , #eve h2 + p , #partner h2 + p {
  color: #1e1c4d !important;
  font-weight:500 !important;
}
#contact form {
  padding: 0;
}
#contact h3 , #accessibility h3 , #eve h3 , #partner  h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  color: #555;
}
#contact .text-danger , #accessibility .text-danger , #eve .text-danger , #partner .text-danger {
  color: #cc0033;
  text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .contact-item {
	margin: 20px 0 40px 0;
}
#contact .contact-item span {
	font-weight: 400;
	color: #aaa;
	text-transform: uppercase;
	margin-bottom: 6px;
	display: inline-block;
}
#contact .contact-item p {
	font-size: 16px;
}
/* Footer Section*/
#footer {
	background: #262626;
	padding: 0 0 0 0;
}
#footer h3 {
	/*color: #8eb640;*/
	color: #2f94a9;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#footer .copyrights {
	padding: 20px 0;
	margin-top: 0px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#779936+0,8eb640+50 */
	background: rgb(47,148,169);/*rgb(119,153,54);*/ /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,121,150,1) 0%, rgba(47,148,169,1) 50%);/*-moz-linear-gradient(top, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%);*/ /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,121,150,1) 0%, rgba(47,148,169,1) 50%);/*-webkit-linear-gradient(top, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%);*/ /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,121,150,1) 0%, rgba(47,148,169,1) 50%);/*linear-gradient(to bottom, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007996', endColorstr='#2f94a9', GradientType=0 );
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#779936', endColorstr='#8eb640', GradientType=0 );*/ /* IE6-9 */
}
#footer .social {
	margin: 20px 0 30px 0;
}
#footer .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#footer .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: #fff;
	transition: all 0.3s;
}
#footer .social i.fa:hover {
	color: #eee;
}
#footer p {
	font-size: 15px;
	color: rgba(255,255,255,0.8)
}
#footer a {
	color: #f6f6f6;
}
#footer a:hover {
	color: #333;
}


/* 追記　*/
p.s-read {
	font-size: 16px;
	font-weight:300;
	line-height: 26px;
	text-align:left;
	margin: 30px 0 30px;
}

/* 追記　セッション　*/

#session {
	padding: 0px 0 50px 0;
}
#session .container{
	/*filter:drop-shadow(0 0 15px -6px rgba(20, 20, 20, 0.8));*/
    box-shadow: 0 0 15px -6px #000073;
	margin: 0 auto;
    padding: 0;
    width: 650px;
	margin-bottom:20px;
}

.session_header{
	position:relative;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 650px;
  table-layout:fixed;
}
table tr {
  background-color: #fff;
}
table th,
table td {
  padding: .35em 1em;
  border-bottom: 1px solid #eee;
}
table tbody th {
  text-align: left;
  /*font-size: .8em;*/
  white-space: nowrap;
  vertical-align:top;
  width:70px;
}

.txt{
   text-align: left;
   /*font-size: .75em;*/
}



.session_chair > td.txt{
	padding-left: 4px !important;
}

.session_title{
	background: #f5f5f5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 6em;
    padding-left: 15px;
	font-weight:500;
}

.syubetsu_tag{
  position:absolute;
  right:0;
  top:0;
  text-align: center;
  display: inline-block;
  padding:7px;
  width:6em;
  font-size:0.85em;
}

.session_header .ws, .tag.ws {
  background:#fcee21;
  color: #777;
}

.session_header .presen, .tag.presen {
  background:#2f94a9;
  color:#FFF;
}

.session_header .panel-dis, .tag.panel-dis {
  background:#ff4b00;
  color:#FFF;
}

.session_header .key, .tag.key {
  background:#e9b6d2;
  color:#000;
}

.session_header .other, .tag.other {
  background:#1e1c4d;
  color:#FFF;
}

.detail{
	text-align: justify;
	text-justify: inter-ideograph;
}

.chair_row{
	display: -webkit-flex;
    display: flex;
	flex-wrap:wrap;
	/*width:550px;*/
}

.session_chair_detail{
	width: 100px;
	/*margin-right:2%;*/
}

.session_chair_imgbox {
	width: 80px;
	height:80px;
	border-radius: 50%;
	margin:0 auto;
	background:url(/img/nai_toki.jpg) center center;
	background-size:cover;
}

span.name_txt{
	width:100%;
	text-align:center;
	display:block;
	margin-bottom:5px;
}

.intro-text h1 + P{
	font-size: 24px;
    font-weight: 500;
    font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 680px) {
  #session .container{width: 100%;}
  table{width: 100%;}
}

/* 追記　セッションタブ　*/
.tab_wrap{width:680px; margin:0 auto;}
input[type="radio"]{display:none;}
.tab_area{height:42px; font-size:0; margin:0 10px;}
.tab_area label{width:140px; margin:0 5px; display:inline-block; padding:7.5px 0; color:#fff; background:#2f94a9; text-align:center; font-size:19px; cursor:pointer; transition:ease 0.2s opacity; border-top-left-radius:10px; border-top-right-radius:10px; font-family: 'Courgette', cursive;}
.tab_area label:hover{opacity:0.7;}
.panel_area{background:#ffffff; border-bottom-right-radius:10px; border-bottom-left-radius:10px; border-top:8px solid #d7e9ea;}
.tab_panel{width:100%; padding:40px 0; display:none;}
.tab_panel p{font-size:14px; letter-spacing:1px; text-align:center;}

#tab1:checked ~ .tab_area .tab1_label{background:#d7e9ea; color:#000;}
#tab1:checked ~ .panel_area #panel1{display:block;}
#tab2:checked ~ .tab_area .tab2_label{background:#d7e9ea; color:#000;}
#tab2:checked ~ .panel_area #panel2{display:block;}

@media screen and (max-width: 680px) {
  .tab_wrap{width: 100%;}
}


/* 追記　TOP画面いっぱいファーストビュー　*/
.index_page .intro{
	position:relative;
	height: 100vh;
}

.index_page .intro .container , .index_page .intro .row , .index_page .intro-text , .index_page .mv_wrap {
	height: 100%;
}

.mv_wrap img{
    /*width: 900px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;*/
}

@media screen and (max-width: 961px) {
  .mv_wrap img{width: 100%;}
}


/*セッションページのヘッダー調整*/
@media screen and (max-width: 680px) {
	.session_page h1{
		font-size: 7em;
	}
}
@media screen and (max-width: 480px) {
	.session_page h1{
		font-size: 5em;
	}
}

/*セッション一覧　タグ凡例*/
.hanrei_flex{
	display: flex;
	flex-wrap:wrap;
}

.hanrei_flex p{
	margin-right:1em;
}

.box26 {
    position: relative;
    margin: 2em 0;
    padding: 0.7em 1em 0;
    border: solid 2px #d7e9ea;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -10px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 15px;
    background: #FFF;
    color: #d7e9ea;
    font-weight: bold;
}
.box26 p {
    /*margin: 0;*/
    padding: 0;
	font-size:14px;
}


/*ナビ修正*/
.navbar-default .navbar-nav a.nuxt-link-exact-active
{
    color: #fcee21 !important;
    font-weight:700 !important;
}

.navbar-brand {
    padding: 9px 15px 15px !important;
}


/*MV*/
@media screen and (max-width: 799px) {
  .navbar-collapse{
	  background-color: rgba(10,10,10,0.4) !important;
  }
}

.mv_elements{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.mv_elements_wrap{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
}

.mv_elements_wrap img{
	text-align:center;
	margin:0 auto;
	width:700px;
	height:auto;
	object-fit: contain;
}

.mv_elements_wrap .mv_text{
	margin-left:20px;
	font-family:'Khula','Noto Sans JP', sans-serif;
	line-height: 1.1;
}

p.event-name-row{
	margin-bottom:40px;
	font-size:4em;
	text-align:left;
	font-weight:800;
}

p.event-name-col{
	display:none;
	margin-bottom:0;
	font-size:3.8em;
	text-align:left;
	font-weight:800;
}

p.event-date-row{
	margin-bottom:0;
	text-align:left;
	font-weight:800;
	line-height: 1.2;
}

p.event-date-col{
	display:none;
	margin-bottom:0;
	text-align:left;
	font-weight:800;
}

p.app_dl{
	text-align:left;
	margin-top:30px;
	margin-block-end:0;
}

@media (max-width: 1199px){
	.mv_elements{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.mv_elements_wrap{
		display: table-cell;
		/*flex-direction: column;*/
	}
	.mv_elements_wrap img{
		width:70%;
		text-align:center;
		margin:0 auto;
	}

	.mv_elements_wrap .mv_text{
		margin:auto;
	}

	p.event-name-col , p.event-date-col{
		display:block;
		text-align:center;
	}

	p.event-name-row , p.event-date-row{
		display:none;
	}

	p.app_dl{
		text-align:center;
		margin:20px auto 20px;
		margin-block-end:40px;
	}
}

@media (max-width: 991px) {
	.mv_elements{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.mv_elements_wrap{
		display: table-cell;
		/*flex-direction: column;*/
	}
	.mv_elements_wrap img{
		width:80%;
		text-align:center;
		margin:0 auto;
	}

	p.event-name-col , p.event-date-col{
		display:none;
	}

	p.event-name-row{
		display:block;
		margin-bottom:10px;
		font-size:3em;
		text-align:center;
	}

	p.event-date-row{
		display:block;
		text-align:center;
		font-size:1.5em;
	}

}

@media (max-width: 650px) {
	.mv_elements_wrap img{
		width:100%;
	}
}


/*MV ロゴ　アニメーション*/
.mv_wrap {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0; transform: translateY(20px);}
    100% {opacity: 1; transform: translateY(0);}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0; transform: translateY(20px);}
    100% {opacity: 1; transform: translateY(0);}
}


/*メニュー幅*/
@media (min-width: 768px) {
  #menu .container {
    width: 711px;
  }
}
@media (min-width: 800px) {
  #menu .container {
    width: 770px;
  }
}

@media screen and (min-width:800px) and ( max-width:991px){
  #menu.navbar-default .navbar-nav > li > a {
    margin: 10px 8px 0 8px;
  }
}

@media (min-width: 992px) {
  #menu .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #menu .container {
    width: 1170px;
  }
}


/*トグル色変更*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ddd;
}


/*topへ戻るボタン*/
#page_top_btn{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #007996;
  opacity: 0.6;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px rgba(20, 20, 20, 0.8));
  z-index:999;
}
#page_top_btn a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top_btn a::before{
  font-family: 'Material Icons';
  font-weight: 900;
  content: 'keyboard_arrow_up';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -10px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;
  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;
  /* IEサポート */
  font-feature-settings: 'liga';
}

/* IE11用 */
.ie11_img_wrap{
	min-height:0%;
	max-width: 100%;
}

/*セッションページ*/
.session_page .intro h1{
	text-align: center;
	font-weight: 700;
    margin-top: 90px;
}

.session_page .intro h1 + p{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Noto Sans JP', sans-serif;
	margin-top: 20px;
}

/*メニューバー*/
#menu div.container{
	padding-right: 10px;
    padding-left: 10px;
}

/*トップページセクションタイトル装飾*/
.container {
  position: relative;
  font-family: 'Noto Sans JP', sans-serif;
}

.hata{
	position:absolute;
	width:160px;
	height:160px;
	top:-170px;
	left:10px;
}

.hata img{
	width:160px !important;
	height:160px !important;
	box-shadow:none !important;
}

.hata_s{
	display:none;
}

.ab-right{
	right:10px !important;
	left:auto !important;
}

@media (max-width: 500px) {
.hata{
	display:none;
}
.hata_s{
	display:block;
	position:absolute;
	width:100px;
	height:160px;
	top:-170px;
	left:10px;
}

.hata_s img{
	width:100px !important;
	height:160px !important;
	box-shadow:none !important;
}
.ab-right-s{
	right:10px !important;
	left:auto !important;
}
}

@media (min-width: 992px) {

.ab-right{
	position:absolute;
	right:200px !important;
	left:auto !important;
}
}

/*背景三角形*/
div#restaurant-menu:after, div#portfolio:after, div#about:after, div#conduct:after{
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  border-width: 20px 30px 0 30px;
  z-index:99;
}
div#contact:after, div#accessibility:after, div#eve:after{
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #F6F6F6 transparent transparent transparent;
  border-width: 20px 30px 0 30px;
  z-index:99;
}

/* partner Section */
#partner {
  padding: 60px 0 60px 0;
  background:#FFF;
  position:relative;
}

/*協賛カスタマイズ*/

.partner_title_box {
  margin-bottom:50px;
}

.partner_img_box {
  margin-bottom: 15px;
  text-align:center;
}

.partner_img_box img {
  width:212.5px;
}

@media (min-width: 992px) {
  .row{
    margin-bottom: 15px;
  }
  .partner_img_box{
    margin-bottom: 0;
  }
  div.img-centerling {
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width:992px) and ( max-width:1199px) {
  div.img-centerling-two{
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  div.img-centerling-two{
    display:flex;
    align-items: center;
    justify-content: space-around;
  }
}



.partner_cat{
  font-weight: 600;
  font-size: 17px;
  color: #555;
  text-align:center;
  margin: 30px 0 10px;
}

.img_kira_line{
  text-align:center;
  margin-bottom:20px;
}

.partner-cat-box{
  margin-bottom:80px;
}

div.img-centerling div{
  text-align:center;
}

/*ワコムイベントバナー*/
.wacom_eve_bn{
  border-top:1px solid #eee;
  padding-top:60px;
}
.ali_cen{
  text-align:center;
}
.wacom_eve_bn_img{
  width:280px;
}

.wacom_eve_bn_img:hover{
  opacity:0.6;
}
